* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

body {
    font-weight: 400;
}

/* --- Barra de navegación --- */
.nav {
    background-color: #fff;
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.dropbtn {
    background-color: salmon;
    border-radius: 50%;
    width: 40px; /* Ancho y alto iguales para un círculo perfecto */
    height: 40px;
    padding: 0; /* Eliminar el relleno para un círculo perfecto */
    border: none;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.profile-pic {
    width: 100%; /* La foto de perfil debe ocupar todo el espacio del círculo */
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
    z-index: 1;
    border-radius: 2px;
    padding-top: 16px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}

.dropdown-content a:hover {
    background-color: salmon;
    color: #fff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgb(223, 107, 94);
}
.nav-container {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-container span {
    display: block;
}

.vertical-rule {
    width: 1px;
    height: 80%;
    background-color: #000;
    transform: translateX(-50%);
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-menu .nav-link {
    color: #000;
    text-decoration: none;
}
/* --- / Barra de navegación --- */

/* --- Header --- */
.site-header {
    height: 92vh;
    width: 100%;
    background-image: url(../images/utp-3.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
    gap: 70px;
    text-align: center;
}

.site-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}

.header-title, .header-description, .header-link {
    position: relative;
    z-index: 1;
}

.header-title {
    font-size: 70px;
}

.header-description {
    font-size: 25px;
    margin: 0 130px;
}

.header-link {
    background-color: rgb(208, 26, 73);
    color: #fff;
    padding: 10px 25px;
    text-decoration: none;
    font-size: 25px;
}
/* --- / Header --- */

/* --- Descubrir --- */
.discovery-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    margin: auto 100px;
    justify-items: center;
}

.discovery-title {
    grid-column: 1 / 4;
    grid-row: 1/ 2;
    padding: 40px;
    font-size: 50px;
    font-weight: 600;
}

.discovery-item {
    display: flex;
    align-items: center;
    margin: 20px auto;
    gap: 30px;
    margin-bottom: 40px;
}

.discovery-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #a9a9a7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.discovery-icon i {
    font-size: 50px;
    color: #fff;
}

.discovery-name {
    font-weight: 400;
}

.discovery-item:hover .discovery-icon {
    background-color: rgb(208, 26, 73);
}

.discovery-item:hover .discovery-name {
    color: rgb(208, 26, 73);
}
/* --- / Descubrir --- */

/* --- Ingenierías --- */
.engineering-section {
    background-color: #f0f0ee;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    justify-items: center;
}

.engineering-name {
    grid-column: 1 / 4;
    padding: 40px;
    font-size: 50px;
    font-weight: 600;
}

.engineering-item {
    position: relative;
    width: 400px;
    height: 500px;
    margin: 50px auto;
}

.engineering-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    transition: .5s;
}

.engineering-item .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.engineering-item .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.engineering-item .front .engineering-title {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 54px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
}

.engineering-item .back {
    transform: perspective(600px) rotateY(180deg);
    background-color: rgb(208, 26, 73);
    padding: 15px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    box-shadow: 0 5px 10px #000;
}

.engineering-item .back .engineering-description {
    letter-spacing: 1px ;
}

.engineering-item .back .engineering-link {
    border-top: solid 1px #fff;
    height: 50px;
    line-height: 50px;
    color: #f3f3f3;
}

.engineering-item:hover .front{
    transform: perspective(600px) rotateY(180deg);
}

.engineering-item:hover .back{
    transform: perspective(600px) rotateY(360deg);
}
/* --- / Ingenierías --- */

/* --- Noticias --- */
.news-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    justify-items: center;
}

.news-header {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    padding: 40px;
    font-size: 50px;
    font-weight: 600;
}

.news-items {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.news-item {
    box-shadow: 0 5px 10px #000;
    width: calc(100% / 3 - 30px);
    margin-bottom: 20px;
}

.news-image {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.news-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    gap: 20px;
    padding: 20px;
}

.news-date {
    color: #a9a9a7;
    font-size: 15px;
    font-weight: 200;
}

.news-link {
    color: #d01a49;
}

.news-more {
    grid-column: 1 / 4;
    margin: 30px;
}

.news-more-link {
    text-decoration: none;
    color: #d01a49;
    border: solid 1px #d01a49;
    padding: 10px;
    font-size: 20px;
}

.news-more-link:hover {
    background-color: #d01a49;
    color: #f3f3f3;
}
/* --- / Noticias --- */

/* --- Footer --- */
footer {
    width: 100%;

    bottom: 0;
    background: linear-gradient(to right, #0e0d0d, #241e1e);
    color: #fff;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
}

.row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col {
    flex-basis: 25%;
    padding: 10px;
}
.col:nth-child(2), .col:nth-child(3){
    flex-basis: 15%;

}

.logo-2 {
    width: 80px;
    margin-bottom: 30px;
}

.col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;

}
.email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}
ul li{
    list-style: none;
    margin-bottom: 12px;


}
ul li a{
    text-decoration: none;
    color: #fff;
}

form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;

}
form .far{
    font-size: 18px;
    margin-right: 10px;


}
form input{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}
form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

form button .fas{
    font-size: 20px;
    color: #ccc;
}

.social-icons .fab{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
}
hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;

}
.copyright{
    text-align: center;

}
.underline{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;

}
.underline span{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;

}
@keyframes moving{
    0%{
        left: -20px;

    }
    100%{
        left: 100%;
    }
}
/* --- /Footer --- */

/* --- Eventos --- */

/* --- /Eventos --- */
