<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>SessionFiltro</filter-name>
        <filter-class>SessionFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>Controller.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SessionFiltro</filter-name>
        <servlet-name>SessionFilter</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>SessionFilter</servlet-name>
        <servlet-class>Controller.SessionFilter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvLogin</servlet-name>
        <servlet-class>Controller.SvLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesionServlet</servlet-name>
        <servlet-class>Controller.CerrarSesionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>Controller.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvAgregarNoticia</servlet-name>
        <servlet-class>Model.SvAgregarNoticia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvNoticia</servlet-name>
        <servlet-class>Controller.SvNoticia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvPersona</servlet-name>
        <servlet-class>Controller.SvPersona</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SessionFilter</servlet-name>
        <url-pattern>/SessionFilter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvLogin</servlet-name>
        <url-pattern>/SvLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesionServlet</servlet-name>
        <url-pattern>/CerrarSesionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvAgregarNoticia</servlet-name>
        <url-pattern>/SvAgregarNoticia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvNoticia</servlet-name>
        <url-pattern>/SvNoticia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvPersona</servlet-name>
        <url-pattern>/SvPersona</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
